@use '../utilities/variable' as variable;
.splash-bg {
  background-color: variable.$color1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.splash-logo {
  width: 150px;
  height: 150px;
  animation: spin 5s infinite;
  animation-timing-function: linear;
}

.splash-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: variable.$color3;
  opacity: 0.8;
  z-index: 9999;
}
