@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-from-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-from-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-from-top {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-from-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
